<table class="table table-bordered" style="width:800px">
    <thead>
        <tr>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Avatar</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let x of data, let i = index">
            <td>{{x.firstName}}</td>
            <td>{{x.lastName}}</td>
            <td><img src="{{x.avatar}}" width="75" height="75" /></td>
            <td>
                <a (click)="onSubmitForm(i)" [routerLink]="[x.id]">Edit </a>
                <a (click)="onDelete(x.id)">| Delete</a>
            </td>
        </tr>
    </tbody>

    <nav>
        <ul class="pagination">
            <div *ngFor="let x of ' '.repeat(totalPages).split(''),let i = index">
                <li class="page-item"><a class="page-link" (click)="getData(i+1)">{{i+1}}</a></li>
            </div>
        </ul>
    </nav>
    <!-- <app-edit-records [details]="data" *ngIf="1"></app-edit-records> -->
</table>