<h3>Edit User</h3> <br>
<div class="row">
    <div class="col-md-12">
        <b><label for="firstName">First Name :</label></b>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" />
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-12">
        <b><label for="lastName">Last Name :</label></b>
    </div>
    <div class="col-md-6">
        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" />
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-12">
        <b><label for="avtar">Avtar :</label></b>
    </div>
    <div class="col-md-6">

    </div>
    <div class="col-md-6"></div>
    <br><br><br>
    <div class="col-md-1">
        <button class="btn btn-secondary">Submit</button>
    </div>
    <div class="col-md-1">
        <button class="btn btn-light">Cancel</button>
    </div>
    <div class="col-md-10"></div>
</div>